[submodule "bundle/javascript-vim"]
	path = bundle/javascript-vim
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/oceanic-next"]
	path = bundle/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/deoplete-ternjs"]
	path = bundle/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs.git
